/* CSS Creado por Lucas Jiménez */
/* redish color: crimson */
/* greenish color: #14dbb4 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 400 100%/1.5 'lato', Helvetica, Arial, sans-serif;
  color: #222;
  background-color: pink;
}

strong {
  color: tomato;
  font-weight: 700
}

em {
  color: tomato;
  font-style: italic
}

.wrap {
  max-width: 1000px;
  margin: 0 auto
}

.bio__content {
  font-size: 1.2em;
  padding: 2em;
  column-count: 3;
  column-gap: 2em;
  column-rule: solid thin;
}

.paragraph {
  margin-bottom: 1.5em
}

.site-header {
  background: url("/imgs/banner.jpg");
  background-position: center center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.site-title {
  text-indent: -99999px;
}

.site-slogan {
  color: tomato;
  font-family: "Advent Pro";
  font-size: 6em;
  font-weight: 100;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 content
}

.lang-option {
  color: pink;
  text-decoration: none;
  padding: 1em;
  border: .0625em solid pink;
  border-radius: .5em;
  margin: 2em;
  margin-bottom: 6em;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.title {
  color: tomato;
  background-color: #222;
  font-family: "advent pro";
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  display: table; /* bg adjust to content and can center */
  margin: .5em auto;
  -webkit-transform: rotate(3deg);
  transform: rotate(-4deg);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%
}

.title:before {
  background: url(/imgs/flourish.svg) center center / 1em .5em no-repeat;
  display: inline-block;
  padding-right: .1em;
  width: 1em;
  height: 1em;
  content: ""
}

.title:after {
  background: url(/imgs/rflourish.svg) center center / 1em .5em no-repeat;
  display: inline-block;
  padding-left: .1em;
  width: 1em;
  height: 1em;
  content: ""
}

.videos__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.video-container {
  background-color: rgba(255,255,255,.6);
  margin: 1em;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 18.75em;
  flex: 0 0 18.75em
}

.video-container__title {
  color: #222;
  font-size: 1.5em;
  padding: .5em
}
.video-object {
  width: 100%;
  min-height: 300px
}

.video-container__caption {
  color: #222;
  font-weight: bold;
  padding: .75em
}

.contact {
  background: url("/imgs/bg-contacto.png") no-repeat 0 0;
  background-size: cover;
}

.contact__content {
  display: flex;
  flex-wrap: wrap;
}

.contact__social {
  padding: 2em;
  display: flex;
  flex-flow: column;
  flex: 1 1 18em
}

.contact__info {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  flex: 1 1 18em
}

.contact__intro {
  font-size: 1.8em;
  font-style: italic;
  margin-bottom: 1.5em
}

.manager {
  color: tomato;
  font-size: 1.5em;
}

.contact__link {
  color: tomato;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: .5em;
  display: inline;
}

.site-footer {
  padding: 45px 0;
  border-top: 1px solid white;
  color: #666;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.social-links {
  list-style: none;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1
}

.social-links__item {
  display: inline-block;
}

.social-links__link {
  color: inherit;
}

.social-links__link:hover {
  color: pink
}

@media screen and (max-width: 800px) {
  .site-title {
    font-size: 4em
  }

  .site-slogan {
    font-size: 3em
  }

  .title {
    font-size: 2em;
  }

  .bio__content {
    font-size: 1em;
    column-count: 1
  }

  .contact-info__title {
    font-size: 1.5em
  }

  .contact-info__table-header,
  .contact-info__table-data {
    font-size: 1.4em
  }

  .contact-info__table-row {
    margin-bottom: 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .site-footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .social-links {
    margin-bottom: 1.5em
  }

  .copyright {
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%
  }
}
