* {padding: 0; margin: 0}

body {
    background: #171717;
    font: 100%/200% 'lato', Helvetica, Arial, sans-serif;
    color: #bfbfbf;
}

a {color: crimson}

strong {color: #14dbb4; font-weight: 700}
em {color: #14dbb4; font-style: italic}

.banner {
    background: url("/imgs/banner.png");
    background-position: center center;
    height: 100vh;
}

.slogan {
    color: crimson;
    font: 5em/100% 'Advent Pro';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 800px;
    height: 200px;
    margin: auto
}

.social {
    position: absolute;
    top: 1em;
    right: 1em;
    text-align: center
}

.social ul li {
    display: inline-block;
    padding-left: 1em
}


/* Secciones general */

.sections {
    max-width: 800px;
    margin: 50pt auto;
    padding: 10pt;
}

.sections h2 {
    font: 48pt 'Advent Pro';
    color: white;
    text-align: center;
    margin-bottom: 30pt
}

.sections p {
    margin-bottom: 30pt
}

/* Secciòn contacto */

.representante caption {
    color:white;
    text-align: left;
    font-size: 20pt;
    font-style: italic
}

.representante th {
    text-align: left;
    padding-right: 2%
}

.representante th i {
    width: 24px;
    color: #14dbb4
}


/* FOOTER */

.main-footer {
    background: #2c2c2c;
    text-align: center;
    padding: 45px 0 45px 0;
    font-size: 12pt
}


/* Solo para media queries */

@media (max-width:750px) {
    
    .banner h1 {font: 3em 'Advent Pro'; line-height: 1.05em; padding-top: 0.1em; padding-left: 0.3em}
    
    .banner p {font-size: 1.05em; padding-left: 1em}
    
    .slogan {
        font-size: 5em;
        text-align: center
    }
    
    .social {
        top: auto;
        right: 0;
        left: 0;
        bottom: 2em;
        font-size: 1.6em
    }
    
    table th, table td, table caption {
        display: block
    }
    
    .representante {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 30px;}
    
    .representante tr {line-height: 150%}
    
}

@media (max-width:400px) {

    .slogan {
        font-size: 3.5em;
    }
    
    .social {
        font-size: 1em
    }
}

@media (max-height:400px) {

    .slogan {
        font-size: 4em;
        max-height: 100px
        
    }
    
    .social {
        font-size: 1em
    }
}